a {
  color: #037FD5; }
  a:hover {
    color: rgba(3, 127, 213, 0.8); }

/* nav */
.page-header-alpha .navbar-mainmenu .nav-item a:hover {
  color: #037FD5; }

/* subscription form */
.form-container-transparent.form-container-white .form-desc h4 {
  color: #ffffff; }

.form-container-transparent.form-container-white .form-input label {
  color: #ffffff; }

.page-cover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.page-cover.scrolled:after {
  background: rgba(10, 10, 10, 0.75); }
